# Genérico
*.pdf
*.pdf#
*.txt
*.zip

# Visual Studio Code
.vs/

# C/C++
*.c
*.cpp
*.o

# ModelSim
work/
*.vstf
*.wlf

# Quartus Prime
db/
incremental_db/
output_files/
simulation/
*.qar
*.qarlog
*.qpf
*.qsf
*.qws
*.rpt